* {
 padding: 0;
 margin: 0;
 }
body {
 overflow-x:hidden;
 font-family: 'Open Sans', sans-serif;
 text-rendering: optimizeLegibility !important;
 -webkit-font-smoothing: antialiased !important;
 }
li {
 list-style: none;
 display: inline-block
 }
a {
 text-decoration:none;
 transition: all 500ms ease-in-out;

 }
a:hover,
a:active {
 text-decoration: none;
 }
h1,
h2,
h4 {
 font-family: 'PT Sans Narrow', Arial, sans-serif;
 text-decoration:uppercase;
 font-weight:700;
 }
p {
 font-size:15px;
 line-height:21px;
 }
.btn {
 transition: all 300ms ease-in-out;
 font-weight: 500 !important;
 text-transform: uppercase;
 }
.btn:hover {
 background-color: #ededed !important;
 color: #3c3c3c !important;
 border: 1px solid #fff !important;
 }

/*custom fonts*/
@font-face{
    font-family: 'alphaEcho';
    src: url('../fonts/alpha_echo-webfont.woff')
}

/*NAVIGATION*/

.navbar {
    background-color: #222222 !important;
    text-transform: uppercase;
    font-family: 'alphaEcho', 'PT Sans Narrow', Arial, sans-serif;
    font-weight: 700;
}

.navbar a{
    color: #fff !important;
    opacity: 0.7;
}

.navbar a:hover{
    opacity: 1;
    background-color: #111111 !important;
}


.tinysfl{
  width: 45px;
  height: 45px;
}

.companyname{

}
/*Header*/

.header {
    /*height: 400px;*/
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    /*background-image: url(../img/bg3.jpg);*/*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: orange;
}

.header img{
    height: 250px;
    width: 250px;
    margin: 40px 0 0 40px;
}

/*stackoverflow.com/questions/19219951/centering-the-image-in-bootstrap*/
/*to center image*/
.header .img-center{margin:0 auto;}

.header h1 {

    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
}

.header h1,
.header p,
.header button {
    margin-top: 20px;
}


.header .btn {
    border-radius: 0;
    margin: 40px 20px;
}

@media(max-width:768px){
    .header {
        padding: 30px;
        height: 750px;
    }

    .header img {
        width: 100%;
        height: 100%;
        margin: 20px 0 0 20px;
    }

    .header .btn{
        font-size: 10px;
        margin-left: 0px;
    }

    .header h1{
        font-size: 20px
    }

    .header p{
        font-size: 10px;
    }

}



/*Services*/

.services {
    padding: 80px 0 80px;
    text-align: center;
    opacity: 0;
    transition: all 200ms ease-in;
    background-color: #ffcc00;

}

.js-services-animate {
    opacity: 1;
    animation: services-jiggle 250ms linear;
}

@keyframes services-jiggle {
    0%{
        transform: rotate(0);
    }
     33%{
        transform: rotate(15deg);
    }
     66%{
        transform: rotate(-15deg);
    }
     100%{
        transform: rotate(0);
    }
}

.services h2,
.services h4{
    color: #4c4c4c;
    margin: 20px 0 20px;
}

.services p {
    color: #737373;
    font-size: 14px;
    padding-bottom: 40px;
}




.services i {
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #00dd00;
    color: white;
}


@media(max-width:768px){
    .services{
        padding: 30px;
    }
}


/*pricing*/

.pricing {
    padding: 50px 0 80px;
    text-align: center;
    background-color: #3399ff;

}

.pricing h2,
.pricing p {
    color: #fff;

}

.pricing p{
    padding-bottom: 40px;
}

.pricing .packages{
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}

.packages li{
    display: block;
    padding: 5px;
}
.packages h4,
.packages h1,
.packages b{
    color: #4c4c4c;
}

.packages p,
.packages li{
    color: #737373;
}

.packages button{
    margin-top: 10px;
}


@media(max-width:768px){
    .pricing {
        padding 30px;
    }

    .packages {
        width: 80%;
        margin-left: 25px;
    }
}



/* team */

.team {
    padding: 50px 0 80px;
    text-align: center;
    background-color: #00dd00;

}

.team b,
.team h2,
.team h4{
    margin: 20px 0 20px;
    color: #4c4c4c;
}

.team p{
    color: #737373;
}

.team img{
    height: 150px;
    width: 150px;
    margin-top: 80px;
}

.team i{
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 50%;
    background-color: #a8db8e;
    color: #fff;
}

.team a:hover i{
    background-color: #706963;
}


/*clients*/

.builtWith{
    padding: 50px 0 80px;
    background-color: #3399ff;
    text-align: center;
    color: #fff;
}

.builtWith h2{
    color: #5e5e5e;
}

.builtWith p{
    padding-bottom: 40px;
}

.builtWith img {
    width: 200px;
    opacity: 0.6;
    cursor: pointer;
    margin: 40px 0;
    transition: all 500ms ease-in-out;

}

.builtWith img:hover {
    opacity: 1 !important;
}



/*contact*/

.contact {
    padding: 50px 0 80px;
    text-align: center;
    background-color: orange;
}

.contact p{
    padding-bottom: 80px;
    color: #737373;
}

.contact h2{
    color: #4c4c4c;
    margin: 20px 0 20px;
}

.contact .input-group{
    margin-bottom: 25px;
}


.contact .form-control{
    border-radius: 0 !important;
}

.contact span{
    border-radius: 0 !important;
}

.contact .btn{
    border-radius: 0 !important;
    width: 100%;
    font-size: 15px;
    background-color: #f08080;
    color: #fff;

}

.contact .btn:hover {
    background-color: #a85959;
    color: #fff !imporant;
}


/*footer*/

.footer {
    padding: 30px;
    color: #cccccc;
    background-color: #222222;
}

.footer i{
    padding-right: 10px;
}

.footer .social{
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    margin-right: 5px;
}

.footer input {
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn{
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
}

.footer h4{
        font-family: 'alphaEcho', 'PT Sans Narrow', Arial, sans-serif;

}


.address, .text{
  overflow: hidden;
}
.text{
  margin: 10;
}
.address .fa-home{
 float: left;
  display: block;
}




/*------------------------ new site ------------------------------*/

/*pricing*/

.games {
    padding: 50px 0 80px;
    text-align: center;
    background-color: #ffb989;
}

.games h2,
.games p {
    color: #fff;

}

.games p{
    padding-bottom: 40px;
}

.games .game{
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}

.game li{
    display: block;
    padding: 5px;
}
.game h4,
.game h1,
.game b{
    color: #4c4c4c;
}

.game p,
.game li{
    color: #737373;
}

.game button{
    margin-top: 10px;
}

.game img {
    width: 75%;
    height: 75%;
    margin: 20px 20px 20px 20px;
}

@media(max-width:768px){
    .games {
        padding 30px;
    }

    .game {
        width: 80%;
        margin-left: 25px;
    }
}

/*body {
    text-align: center;
 }
 .webgl-content {
    position: relative;
 }*/

/*.webgl-content * {text-align: center; border: 0; margin: 0; padding: 0}*/
/*.webgl-content {text-align: center; position: absolute; top: -900px; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}*/

.webgl-content {
    padding: 50px 0 80px;
    text-align: center;
    background-color: #00dd00;}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('fullscreen.png'); width: 38px; float: right;}